<nav class="navbar navbar-expand-lg  bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BLog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'main_index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'main_addblog' %}">Add Blog</a>
                </li>
            </ul>
        </div>
        <div>
            {% if user.is_authenticated == False %}
            <a href="{% url 'auth_system_signup' %}"><button class="btn btn-outline-light">Sign Up</button></a>
            <a href="{% url 'auth_system_login' %}"><button class="btn btn-outline-light">Login</button></a>
            {% else %}
            <a href="{% url 'auth_system_logout' %}"><button class="btn btn-outline-light">Logout</button></a>
            {% endif %}
        </div>
    </div>
</nav>
